/* Hero */
.hero {
  background-color: var(--tertiary-bg-color); /* временно */
  /* width: 1600px; */
  text-align: center;
  /* margin: 0 auto; */
}
.hero-title {
  margin-top: 0;
  margin-bottom: 46px;

  color: var(--title-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */

.hero-button {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  display: inline-block;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  min-width: 200px;
  padding: 9px 31px;
  border: 1px solid transparent;
  border-radius: 4px;

  text-decoration: none;
  vertical-align: middle;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
}

/* Our advantages */

.section-advant > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-hiden {
  display: none;
}

.advant.list .item {
  width: calc((100% - 90px) / 4);
}

.advant .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.advant.list {
  display: flex;
}

.advant .item + .item {
  margin-left: 30px;
}

.advant img {
  margin-bottom: 30px;
}

.advant p {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.71;
}

/* Our occupation */
.section-occupation {
  outline: 2px solid tomato;
}

.section-occupation > .container {
  padding-top: 0;
  padding-bottom: 94px;
}

.occupation-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.occupation.list {
  display: flex;
}

.occupation.list .item {
  border-radius: 4px;
  width: calc((100% - 60px) / 3);
}

.occupation .item + .item {
  margin-left: 30px;
}

.section-occupation .title {
  color: var(--tertiary-text-color);
  /* background-color: rgba(47, 48, 58, 0.8); временно */

  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Our team */
.section-team {
  background-color: var(--secondary-bg-color);
  text-align: center;

  outline: 2px solid tomato;
}

.section-team > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--primary-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  margin-bottom: 50px;
}
.team.list {
  display: flex;
}

.team.list .item {
  width: calc((100% - 90px) / 4);

  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team.list .item + .item {
  margin-left: 30px;
}

.name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.socials-item {
  margin: 0;
  /* display: block; */
  justify-content: space-evenly;
}

.team-text {
  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 28px;
}
.socials-team .link {
  color: #afb1b8; /* временно */
}
.socials-team .link:hover,
.socials-team .link:focus {
  color: var(--accent-color);
}

.socials-team {
  display: flex;
}

/* Our customers */
.section-customers {
  outline: 2px solid tomato;
}

.section-customers.container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.customers-logo.list {
  display: flex;
  justify-content: center;
}

.customers-logo.list .item {
  width: calc((100% - 150px) / 6);
}

.customers-logo .item + .item {
  margin-left: 30px;
}

.customers-logo .link {
  color: #afb1b8; /* временно */
  display: flex;
  justify-content: center;
}
.customers-logo .link:hover,
.customers-logo .link:focus {
  color: var(--accent-color);
}
